<div class="outer-container">
  <h2>Instructions</h2>
  <p>
    Your goal is to create an application where we can see a list of employees and edit their data.
    This list should allow for the selection of an employee, which would then show more details for him/her.
    With an employee selected, we should be able to edit his/her data.
    By clicking save we should see the changes reflected in the employee list.
    We should also have the ability to delete an employee and add an employee. Here is a link to the design: <span><a target="_blank" href="https://www.figma.com/file/p6mhLOhfVCaFMEo5Tn2mb8/Employee-Cards-Example?node-id=1%3A286&t=5lAXYIcxGIcEJFqR-1
      ">Design</a></span>
  </p>

  <br>
  <h3>Getting Started</h3>
  <ol>
    <li>Please create a new branch off of the Develop branch. The new branch name should be /applicant/{{'{'}}yourFirstName{{'}'}}-{{'{'}}yourLastName{{'}'}}-{{'{'}}todaysDate{{'}'}}</li>
    <li>When you are done make sure to push your changes to the repository and make pull request into Develop.</li>
  </ol>

  <h3>Objectives</h3>
  <ol>
    <li>Display selectable list of all employees. This list will show the employee names and positions.</li>
    <li>A selected employee should then show additional details in the card to the right.</li>
    <li>All employee Data should be able editable and saved.</li>
    <li>We should be able to create a new Employee, that also shows up in the left hand list once created.</li>
    <li>We should be able to remove an employee, that is also removed from the left hand list after deletion.</li>
  </ol>

  <h3>Bonus</h3>
  <ul>
    <li>Match the design as best you can.</li>
  </ul>

  <h3>Additional info and Rules</h3>
  <ul>
    <li>An employee route and blank component have already been created for you to help you get started.</li>
    <li>
      The employee data can be found in the employee.service.ts file. (Please keep the data in this file.)
    </li>
    <li>
      The list of available positions and states data can be found in the data.service.ts file. (Please keep the data in this file.)
    </li>
    <li>Must use/create at least 1 reusable component.</li>
    <li>The list of employees and the employee details must be in separate components.</li>
    <li>The design uses Angular Material Design styles. Angular Material has already been installed. Feel free to use their styles if you choose.</li>
    <li>The icons/images you need in order to match the design are in the /assets/images folder</li>
    <li>There is no database so all changes will be lost on page refresh. This is ok.</li>
  </ul>
</div>
