<div class="outer-container">
  <h2>Instructions</h2>
  <p>
    Your goal is to create an application where we can see a list of employees and edit their data.
    This list should allow for the selection of an employee, which would then show more details for him/her.
    With an employee selected, we should be able to edit his/her data.
    By clicking save we should see the changes reflected in the employee list.
    We should also have the ability to delete an employee and add an employee.
  </p>
  <br>
  <h3>Objectives</h3>
  <ol>
    <li>Display selectable list of all employees. This list will show the employee names and positions.</li>
    <li>A selected employee should then show additional details in the card to the right.</li>
    <li>All employee Data should be able editable.</li>
    <li>We should be able to create a new Employee, that also shows up in the left hand list once created.</li>
    <li>We should be able to remove an employee, that is also removed from the left hand list after deletion.</li>
  </ol>

  <h3>Additional info and Rules</h3>
  <ul>
    <li>A employee route and blank component has already been created for you.</li>
    <li>
      The '/employee' route is where the user would navigate to see both the employee list and employee details.
      <br>No other route creation is needed.
    </li>
    <li>
      The employee data can be found in the employee.service.ts file.
      <br>Please keep the data in this file.
    </li>
    <li>Must use/create at least 1 reusable component.</li>
    <li>The list of employees and the employee details must be in separate components.</li>
  </ul>
</div>
